{% extends 'index.html' %}
{% block content %}
<div class="row" style="margin-left: 250px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Checkout Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>name</th>
                <th>email</th>
                <th>contact</th>
                <th>product</th>
                <th>quantity</th>
                <th>address</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td>{{i.userid.name}}</td>
                <td>{{i.userid.email}}</td>
                <td>{{i.userid.contact}}</td>
                <td>{{i.cartid.productid.product_name}}</td>
                <td>{{i.cartid.quantity}}</td>
                <td>{{i.address}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}